layout {
  tab_template name="t" {
    children
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
  }
  t name="nvim" {
    pane
  }
  t name="term" split_direction="vertical" {
    pane
    pane split_direction="horizontal" {
      pane
      pane
    }
  }
}
